body {
  background-color: rgb(184, 248, 64);
  border: 10px;
  border-color: rgb(3, 3, 0);
  border-style: groove;
}

h1 {
  color: rgb(54, 2, 27);
  text-align: center;
  font-size: 50px;
  }

img {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border-width: 7px;
  border-style: inset;
}

.container {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: rgb(54, 2, 27);
}
